SECRET_KEY=your-django-secret-key
DEBUG=True

DB_NAME=auth_project_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET_KEY=your-jwt-secret-key-minimum-32-bytes-long
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=12